#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card-group-wraper {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  flex-wrap: wrap;
}

.card-item {
  display: inline-block;
  flex: 0 1 25%;
  margin-bottom: 26px;
  .card-img {
    background-color: rgb(240, 242, 245);
    height: 102px;
  }
}
